* {
    margin: 0;
    padding: 0;
}
body {
    background-color: beige;
}
body > section {
    width: 50vw;
    height: 100vh;
    position: fixed;
    margin-left: 36vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.map {
    width: 1050px;
    height: 850px;
    border-radius: 60px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
}
.map > div {
    width: 350px;
    height: 100px;
    background-color: white;
    position: fixed;
    border-radius: 60px 0px 0px 0px;
}